{% extends 'base.html.twig' %}

{% block title %}CONNEXION{% endblock %}

{% block body %}

    <form method="post" class="contact-form">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
    {# "titre-connexion" #}
        <h1 class="titre-connexion">CONNEXION</h1>
        {# <label for="inputEmail">Email</label> #}
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="contact-form-text" autocomplete="email" required autofocus placeholder="email"/>
        {# <label for="inputPassword">Password</label> #}
        <input type="password" name="password" id="inputPassword" class="contact-form-text" autocomplete="current-password" required placeholder="password"/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
        <div class="contact-form-ac">
            <input type="submit" class="contact-form-btn-ac" value="SE CONNECTER"/>
        </div>
    </form>

{% endblock %}
